.events-nav{
    height: 110px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 4000;
    color: #41385f;
    border-radius: 0 0px 21px 21px;
}
.events-nav>h1{
    font-size: 20px;
    font-weight: 700;
}
.modal.fade .modal-dialog{
    transform: translate(0px, 0px) ;

}

