.list {
  background-image: url('/images/bg.svg');
  background-size:contain;
  background-repeat: no-repeat;
}
/* .time {
  min-height: 50px;
} */
/* .time-card {
  background-color: #f48337;
  width: 50px;
  margin: auto;
  text-align: center;
  padding: 12px;
  border-radius: 24px;
  color: white;
} */

#dropdownMenuButton1 {
  background-color: transparent;
}

.col .apply {
  background-color: #df2a57;
  border-style: none;
  width: 200px;
  padding: 3px;
}
